# ADDRCODE Mapping for Dengue Case Data

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import os
import pandas as pd
from collections import Counter

In [2]:
df_DHF = pd.read_csv(os.path.join('..','..','data','dengue-cases','2016.csv'))
df_DHF = df_DHF.set_index('ID')
df_DHF = df_DHF.loc[df_DHF['PROVINCE'] == 80]
df_DHF = df_DHF.astype(str)
df_DHF['CODE'] = df_DHF['PROVINCE'] + df_DHF['ADDRCODE']
df_DHF['CODE'] = df_DHF['CODE'].str[:-2]

df_DHF = pd.DataFrame.from_records(Counter(df_DHF['CODE'].values).most_common())
df_DHF.columns = ['Subdistrict_Code', 'Cases']
df_DHF = df_DHF.set_index('Subdistrict_Code')
df_DHF.head()
len(df_DHF)

                  Cases
Subdistrict_Code
801702               63
80101                62
80120                58
801401               40
801001               38

166

In [3]:
df_code = pd.read_csv(os.path.join('..','..','data','dengue-cases','province_dist_sub_code.csv'))
df_code['Subdistrict_Code'] = df_code['Subdistrict_Code'].astype(str) 
df_code = df_code.set_index('Subdistrict_Code')
df_code = df_code.loc[df_code['Province_Code'] == 80]
df_code.head()
len(df_code)

,Subdistrict_Name,District_Code,District_Name,Province_Code,Province_Name
Subdistrict_Code,,,,,
800101,ในเมือง,8001,เมืองนครศรีธรรมราช,80,นครศรีธรรมราช
800102,ท่าวัง,8001,เมืองนครศรีธรรมราช,80,นครศรีธรรมราช
800103,คลัง,8001,เมืองนครศรีธรรมราช,80,นครศรีธรรมราช
800106,ท่าไร่,8001,เมืองนครศรีธรรมราช,80,นครศรีธรรมราช
800107,ปากนคร,8001,เมืองนครศรีธรรมราช,80,นครศรีธรรมราช

170

In [4]:
df_dengue_caces = df_code.join(df_DHF)
df_dengue_caces = df_dengue_caces.fillna(0)
df_dengue_caces = df_dengue_caces.dropna(how='any', axis=0)
df_dengue_caces = df_dengue_caces.reset_index()
df_dengue_caces = df_dengue_caces.drop(['Subdistrict_Code', 'District_Code', 'Province_Code'], axis=1)
df_dengue_caces.columns = ['subdist', 'district', 'province', 'cases']
df_dengue_caces.head()

   subdist            district       province  cases
0  ในเมือง  เมืองนครศรีธรรมราช  นครศรีธรรมราช    0.0
1   ท่าวัง  เมืองนครศรีธรรมราช  นครศรีธรรมราช    0.0
2     คลัง  เมืองนครศรีธรรมราช  นครศรีธรรมราช    0.0
3   ท่าไร่  เมืองนครศรีธรรมราช  นครศรีธรรมราช    0.0
4   ปากนคร  เมืองนครศรีธรรมราช  นครศรีธรรมราช    0.0

In [5]:
df_dengue_caces.to_csv(os.path.join('..','..','data','dengue-cases','dengue_caces_2016.csv'), index=None)