# Rainfall Preprocessing

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
import os
import json
import pandas as pd
import numpy as np
from tqdm import tqdm_notebook

df_temperature = pd.read_csv(os.path.join('..', '..', 'data', 'weather', 'csv', 'land-surface-temperature.csv'))
df_temperature.head(1)

,TB_IDN,2014_01,2014_02,2014_03,2014_04,2014_05,2014_06,2014_07,2014_08,2014_09,...,2017_08,2017_09,2017_10,2017_11,2017_12,2018_01,2018_02,2018_03,2018_04,2018_05
0,100101,34.39,36.77,39.61,37.45,40.71,40.61,35.39,39.49,39.01,...,37.23,35.99,34.43,33.31,33.07,34.85,36.11,38.01,38.39,35.83

In [3]:
months = df_temperature.columns[1:].values
addrcodes = df_temperature['TB_IDN'].values

In [9]:
indexes_addrcode = []
indexes_month = []

values = []

for addrcode in addrcodes:
    for month in months:
        indexes_addrcode.append(addrcode)
        indexes_month.append(month)
        
    values += list(df_temperature.loc[df_temperature['TB_IDN'] == addrcode].values[0][1:])
        
indexes_addrcode = np.reshape(np.array(indexes_addrcode),(-1, 1))
indexes_month = np.reshape(np.array(indexes_month),(-1, 1))

values = np.reshape(np.array(values),(-1, 1))
values = np.concatenate((indexes_addrcode, indexes_month, values), axis=1)

In [10]:
df_temperature = pd.DataFrame.from_records(values, columns=['addrcode','date','temperature'])
df_temperature['date'] = pd.to_datetime(df_temperature['date'], format='%Y_%m')
df_temperature.set_index(['addrcode','date'], inplace=True)
df_temperature.head(10)

                    temperature
addrcode date
100101   2014-01-01       34.39
         2014-02-01       36.77
         2014-03-01       39.61
         2014-04-01       37.45
         2014-05-01       40.71
         2014-06-01       40.61
         2014-07-01       35.39
         2014-08-01       39.49
         2014-09-01       39.01
         2014-10-01       35.93

In [11]:
df_temperature.to_csv(os.path.join('..', '..', 'data', 'weather', 'temperature.csv'))